@import "/css/style.css";


#header {
  flex: 1;
  justify-content: left;
  width:25em;
}

#navbar {
  flex: 2;
  text-align: center;
}

#navbar ul li{
  border-right: solid 1px black;
  padding-right: 1em;
}

#navbar ul li:last-child {
  border: 0;
}

.header-content {
  box-shadow: 1em;
  background-color: #6261BD;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 4em;
  padding: 0.5em;
  border-radius: 0.5em;
}

#header h1 {
  color: white;
  font-family: Outfit;
  font-weight: 600;
  font-size: 2.4em;
  padding-bottom: 0;
}

.main-content {
  margin-top: 0;
  display: flex; 
  grid-column: 1 / 6;
  grid-row: 3 / 6;
  width:100%;
  min-height: 75em;
  height: auto;
}
.article-container{
  display: grid;
  position: relative;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  background-color: #0F2743;
}

.hero-banner {
  grid-row: 1;
  grid-column: 1 / 6;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: url('/img/hero1.png')
}
.left-bar {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}

.article-text {
  grid-row: 2 / 4;
  grid-column: 2 / 6;
}
.left-bar, .article-text {
  margin-top: -2.5em;
  position: relative;
  z-index: 2;
  color: white;
  background-color: #0A1B2C;
}
.article-text h1 {
  margin-top: -0.5em;
  text-align: center;
  font-style: italic;
  font-weight: 700;
  font-size: 3.5em;
  margin-bottom: 0.35em;
}
.article-text p {
  font-size: 1.2em;
}
