@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html, body {
    overflow-x: hidden;
}
html, body, .grid-container {
    width: 100%;
    height: 100%;
}

.grid-container {
    position: relative;
    max-width: 95%;
    height: 90%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    min-height: 850px;
    height: auto;
}

.main-content {
    margin-top: -8.8em;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}
.footer-content {
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 5;
}
.header-content {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 1;
  box-shadow: 1em;
  background-color: #6261BD;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 4em;
  padding: 0.5em;
  border-radius: 0.5em;
}
#header h1 {
  margin-left: 1em;
  color: white;
  font-family: Outfit;
  font-weight: 600;
  font-size: 2.4em;
  padding-bottom: 0;
}
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0; 
    width: 100%;
    justify-content: center;
}
nav {
    position: relative;
    width: 100%;   
}
nav ul li {
    display: inline-block;
    font-size: 1.1em;
    font-family: Source Code Pro;
    color: #FFFFFF;
    margin-right: 1em;

}
nav ul li a:hover {
    color: #AEEAEA;
}
nav ul li:last-child {
    margin-right: 0;
}
#header {
  flex: 1;
  justify-content: left;
  width:25em;
}
#navbar {
  flex: 2;
  text-align: center;
}
#navbar ul li{
  border-right: solid 1px black;
  padding-right: 1em;
}
#navbar ul li:last-child {
  border: 0;
}

#section1, #section2, #section3, #section4, .footer-content {
    font-family: Encode Sans Expanded;
    font-weight: 300;
    color: #BEEEEE;
}
#section2 {
    margin-top: 1em;
}
#section3 {
    margin-top: 1em;
}
#section4 {
    margin-top: 1em;
}

body {
    background-color: #172A3A;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content-wrap {
    flex: 1;
}
footer {
    font-family: Source Code Pro;
    color: #09BC8A;
    font-size: 1em;
}
.aside-content {
    top: 10em;
    left: 10em;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
}
#aside {
    margin-left: 2em;
    width: 50%;
    border-image: linear-gradient(#57ADB2, #09bc8a) 30;
    border-width: 0.15em;
    border-style: solid;
    border-radius: 0.1em;
    text-align: center;
    font-family: Source Code Pro;
    color: #079E79;
    font-size: 1em;
}
#aside h2 {
    font-size: 1.5em;
    font-weight: 600;
    color: #09bc8a;
}
#sectionh {
    font-size: 1.1em;
    font-weight: 500;
}
#btn1 {
    font-weight: 500;
}
article {
    margin-top: -2em;
}
@media only screen and (max-width: 600px) {
   
  .main-content, header-content, nav-content, footer-content, aside-content {
        font-size: 85%;
    }
}
@media only screen and (max-width: 768px) {
  #tacobell {
    padding-top: 5.2em;
  }
}
